

<div class="card card-pt">
	<% if pin.image.attached? %>
 	<%= image_tag pin.image, class: 'card-img-top' %>
 	<% end %>
 	<div class="card-body">
 		<p class="card-text"><%= pin.title %></p>
	</div>
</div>

