/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


// import scss file
@import "bootswatch/simplex/variables";
@import "bootstrap";
@import "bootswatch/simplex/bootswatch";

@import "font-awesome-sprockets";
@import "font-awesome";


body{
	margin:0 auto;
	padding: 0;
	padding-top: 90px;
}


@media (min-width:768px) {
    .card-deck > .card
    {
        width: 22%;
        flex-wrap: wrap;
        flex: initial; 
    }
}



img.card-img-top {
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
}

.card-pt {
	margin-bottom: 20px !important;
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
}

.pagination{
  margin: 0 auto;
  text-align:center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ff0000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.pagination {
  display: block !important;
}



.addButton {
    font-size:  12px;
    position:   fixed;
    width:      39px;
    height:     39px;
    right:      20px;
    bottom:     100px;
    text-align: center;
    cursor:     pointer;
    padding-top: 10px;
    background: #fff !important;
    color:      #D9230F !important;
}


.addButton > i:hover {
    color:      #000 !important;
}



.wt-200{
  max-width: 200px;
}


.btn-view, .btn-edit {
  width: 100px
}



